# Node dependencies
node_modules/

# Build output
dist/

# VSCode settings (ignore all except these files)
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# macOS system files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env*
