//  https://color.romanuke.com/czvetovaya-palitra-4438/

$primary-color: #202136; // Глубокий индиго (основа)
$secondary-color: #353652; // Более насыщенный тёмный для градации или фона
$third-color: #5f6b96; // Холодный, приятный индиго-серый
$background-color: #dcdfee; // Светло-серый для фонов/блоков
$text-light-color: #f7f8fc; // Почти белый — для текста на тёмном
$button-color: #8e94b3; // Мягкий фиолетово-синий, чуть ярче
$hover-color: #b7bfdc; // Светлая hover-версия
$border-color: #a7aec4; // Спокойный, приглушённый
$error-color: #ff4747; // Яркий акцент для ошибок
